<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Chat ${userId}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<h2>Admin Chat</h2>
<div id="chat-log"></div>
<div>
    <input type="text" id="message" placeholder="메시지 입력" />
    <button id="sendButton">답변 전송</button>
</div>

<div id="data"
     th:data-user-id="${userId}"></div>

<script th:nonce="${scriptNonce}">
    const dataElement = document.getElementById('data');
    const targetUser = dataElement.getAttribute('data-user-id');

    let stompClient = null;
    // 어드민은 고정 사용자명 "admin"으로 설정 (서버 Principal 이름과 동일하게)
    const adminName = "admin";

    function connect() {
        const socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            console.log('Admin Connected: ' + frame);
            // 어드민은 모든 유저로부터 오는 메시지를 공통 채널에서 구독
            stompClient.subscribe('/queue/admin', function(messageOutput) {
                // showIncomingMessage(JSON.parse(messageOutput.body));
                showMessage(messageOutput.body, "user");
            });
        });
    }

    function sendMessage() {
        const message = document.getElementById("message").value;
        const chatMessage = message
        // const chatMessage = {
        //     from: adminName,
        //     content: replyMessage
        // };
        // 어드민은 /app/chat/reply/{userId}로 메시지를 전송하면 해당 유저에게 답변 전달
        stompClient.send("/app/chat/sendToUser/" + targetUser, {}, chatMessage);
        // stompClient.send("/app/chat/reply/" + targetUser, {}, JSON.stringify(chatMessage));
        document.getElementById("message").value = "";
        showMessage(message, "admin");
    }

    function showMessage(message, sender) {
        const container = document.getElementById("chat-log");
        container.innerHTML += `<div><b>${sender}</b>: ${message}</div>`;
    }

    document.addEventListener('DOMContentLoaded', function () {
        connect();
        document.getElementById('sendButton').addEventListener('click', sendMessage);
    });
</script>
</body>
</html>
